.details {
   margin-top: 100px;


   margin-left: 400px;
   margin-right: 400px;
   padding-bottom: 100px;
   padding-top: 50px;
   padding-left: 50px;


}


.image {
  width: 200px;
  height: 200px;
  display: inline-block;
  float: left;

}

.text {
font-family: 'Open Sans', sans-serif;
margin-top: 15px;

}
